/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}
/* line 25, ../sass/screen.scss */
.test {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  background: black;
}

/* line 41, ../sass/screen.scss */
#PageLayer {
  font-family: Arial, sans-serif;
  width: 100%;
  height: 3158px;
  background: red;
  position: relative;
  top: 0px;
  left: 0px;
  text-align: center;
}

/* line 51, ../sass/screen.scss */
.BlocksRelPosition {
  position: relative;
  top: 0px;
  left: 0px;
}

/* line 56, ../sass/screen.scss */
.WhiteBoldFont, .HeaderContentTitle, .HeaderContentText, .AboutHeaderTitle {
  font-family: "OpenSans-Bold", Arial, sans-serif;
  color: #fff;
}

/* line 61, ../sass/screen.scss */
.Header {
  background: #69d2e7;
  width: 100%;
  height: 465px;
}

/* line 66, ../sass/screen.scss */
.Footer {
  background: #fa6900;
  width: 100%;
  height: 500px;
}

/* line 71, ../sass/screen.scss */
.HeaderContentTitle {
  text-align: center;
  font-size: 4em;
  text-transform: uppercase;
  margin-top: 1.3em;
}

/* line 78, ../sass/screen.scss */
.HeaderContentText {
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
}

/* line 84, ../sass/screen.scss */
.About {
  width: 100%;
  height: auto;
  background: #f1f1f1;
}

/* line 89, ../sass/screen.scss */
.AboutHeader {
  width: 70%;
  border-radius: 10px;
  background: #fff;
  text-align: center;
  max-width: 850px;
  height: auto;
  position: relative;
  top: -100px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  padding: 1.5em 2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* line 103, ../sass/screen.scss */
.AboutHeaderTitle {
  color: #000;
  padding: 1% 15% 3%;
  display: inline-block;
  text-transform: uppercase;
  font-size: 2em;
  border-bottom: 2px solid #d5d5d5;
}

/* line 112, ../sass/screen.scss */
.AboutHeaderText {
  color: #000000;
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 1.4em;
  text-align: left;
  line-height: 1.4em;
  padding-top: 1em;
}

/* line 120, ../sass/screen.scss */
.AboutContentList {
  max-width: 2000px;
  margin: 0 auto;
}

/* line 128, ../sass/screen.scss */
.BgForm {
  width: 162px;
  height: 162px;
  border-radius: 10px;
  background: #69d2e7;
  margin: 0 auto;
  padding: 2em;
}

/* line 136, ../sass/screen.scss */
.ConstWidthOfList {
  margin-bottom: 2em;
}

/* line 140, ../sass/screen.scss */
.AboutContentListText {
  font-family: "OpenSans-Regular", Arial, sans-serif;
  font-size: 1.4em;
  color: #000000;
  margin-top: 1em;
}

/* line 146, ../sass/screen.scss */
.BgForm div {
  background-image: url("../images/sprite.png");
  width: 100%;
  height: 100%;
}

/* line 151, ../sass/screen.scss */
.AboutContentListCellsBg {
  background: #fff;
}

/* line 154, ../sass/screen.scss */
.AboutContentListCellsBg div {
  background-position: -90px 0px;
}

/* line 157, ../sass/screen.scss */
.AboutContentListTonometrBg div {
  background-position: -198px 0px;
}

/* line 160, ../sass/screen.scss */
.AboutContentListAtomBg {
  background: #fff;
}

/* line 163, ../sass/screen.scss */
.AboutContentListAtomBg div {
  background-position: -1px 0px;
}
