/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}
/* line 25, ../sass/screen.scss */
.test {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  background: black;
}

/* line 40, ../sass/screen.scss */
.transition, .LeftBlock, .RightBlock {
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: ease;
}

/* line 45, ../sass/screen.scss */
#PageLayer {
  font-family: Arial, sans-serif;
  width: 100%;
  height: 3158px;
  background: red;
  position: relative;
  top: 0px;
  left: 0px;
  text-align: center;
}

/* line 55, ../sass/screen.scss */
.BlocksRelPosition {
  position: relative;
  top: 0px;
  left: 0px;
}

/* line 60, ../sass/screen.scss */
.WhiteBoldFont, .HeaderContentTitle, .HeaderContentText, .AboutHeaderTitle {
  font-family: "OpenSans-Bold", Arial, sans-serif;
  color: #fff;
}

/* line 65, ../sass/screen.scss */
.Header {
  background: #69d2e7;
  width: 100%;
  height: 465px;
}

/* line 70, ../sass/screen.scss */
.Footer {
  background: #fa6900;
  width: 100%;
  height: 500px;
}

/* line 75, ../sass/screen.scss */
.HeaderContentTitle {
  text-align: center;
  font-size: 4em;
  text-transform: uppercase;
  margin-top: 1.3em;
}

/* line 82, ../sass/screen.scss */
.HeaderContentText {
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
}

/* line 88, ../sass/screen.scss */
.About {
  width: 100%;
  height: auto;
  background: #f1f1f1;
}

/* line 93, ../sass/screen.scss */
.AboutHeader {
  width: 70%;
  border-radius: 10px;
  background: #fff;
  text-align: center;
  max-width: 850px;
  height: auto;
  position: relative;
  top: -100px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  padding: 1.5em 2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* line 107, ../sass/screen.scss */
.AboutHeaderTitle {
  color: #000;
  padding: 1% 15% 3%;
  display: inline-block;
  text-transform: uppercase;
  font-size: 2em;
  border-bottom: 2px solid #d5d5d5;
}

/* line 116, ../sass/screen.scss */
.AboutHeaderText {
  color: #000000;
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 1.4em;
  text-align: left;
  line-height: 1.4em;
  padding-top: 1em;
}

/* line 124, ../sass/screen.scss */
.AboutContentList {
  max-width: 1700px;
  margin: 0 auto;
}

/* line 132, ../sass/screen.scss */
.BgForm {
  width: 162px;
  height: 162px;
  border-radius: 10px;
  background: #69d2e7;
  margin: 0 auto;
  padding: 2em;
}

/* line 140, ../sass/screen.scss */
.ConstWidthOfList {
  margin-bottom: 2em;
  min-width: 200px;
}

/* line 145, ../sass/screen.scss */
.AboutContentListText {
  font-family: "OpenSans-Regular", Arial, sans-serif;
  font-size: 1.4em;
  color: #000000;
  margin-top: 1em;
}

/* line 151, ../sass/screen.scss */
.BgForm div {
  background-image: url("../images/sprite.png");
  width: 100%;
  height: 100%;
}

/* line 156, ../sass/screen.scss */
.AboutContentListCellsBg {
  background: #fff;
}

/* line 159, ../sass/screen.scss */
.AboutContentListCellsBg div {
  background-position: -90px 0px;
}

/* line 162, ../sass/screen.scss */
.AboutContentListTonometrBg div {
  background-position: -198px 0px;
}

/* line 165, ../sass/screen.scss */
.AboutContentListAtomBg {
  background: #fff;
}

/* line 168, ../sass/screen.scss */
.AboutContentListAtomBg div {
  background-position: -1px 0px;
}

/* line 171, ../sass/screen.scss */
.MediaInfo {
  height: auto;
  background: #fa6900;
}

/* line 175, ../sass/screen.scss */
.SliderContainer {
  position: relative;
  top: 0px;
  height: 330px;
}

/* line 180, ../sass/screen.scss */
.CommonPropertiesOfSlide {
  width: 440px;
  height: 300px;
  background: #fff;
  border: 1px solid black;
  border-radius: 10px;
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

/* line 191, ../sass/screen.scss */
.LeftBlock {
  left: 25%;
  opacity: .5;
}

/* line 195, ../sass/screen.scss */
.RightBlock {
  left: 75%;
  opacity: .5;
}

/* line 202, ../sass/screen.scss */
.CenterBlock {
  z-index: 2;
}

/* line 205, ../sass/screen.scss */
.LeftBlock:hover, .RightBlock:hover {
  left: 50%;
  opacity: 1;
}

/* line 209, ../sass/screen.scss */
.SliderHeadPart {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  background: #535a6c;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: left;
}

/* line 220, ../sass/screen.scss */
.SliderHeadPartPoints {
  width: auto;
  height: auto;
  display: inline-block;
  margin: 7px;
}

/* line 226, ../sass/screen.scss */
ul.SliderHeadPartPoints li {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
}

/* line 233, ../sass/screen.scss */
.SliderHeadPartSearch {
  display: block;
  width: 370px;
  float: right;
  margin-top: 7px;
  margin-right: 10px;
  height: 15px;
  background: #fff;
  border-radius: 5px;
  text-align: right;
}

/* line 244, ../sass/screen.scss */
.SliderHeadPartSearchIcon {
  font-size: 12px;
  margin-right: 5px;
  color: #535a6c;
}

/* line 249, ../sass/screen.scss */
.ToLeftButton, .ToRightButton {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #7f7f7f;
  background: transparent;
  color: #7f7f7f;
  font-size: 25px;
}

/* line 261, ../sass/screen.scss */
.ToLeftButton {
  left: 20px;
}

/* line 264, ../sass/screen.scss */
.ToRightButton {
  right: 20px;
}

/* line 267, ../sass/screen.scss */
.MediaInfoHeaderText {
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 1.4em;
  color: #fff;
  width: 55%;
  line-height: 1.6em;
  margin: 1.5em auto 35px;
}

/* line 275, ../sass/screen.scss */
.Doctors {
  width: 100%;
  height: auto;
  background: #f1f1f1;
}

/* line 280, ../sass/screen.scss */
.DoctorsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  max-width: 1700px;
  position: relative;
  top: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

/* line 292, ../sass/screen.scss */
.DoctorsAvatar {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: #fff;
  margin: 40px 0 25px;
}

/* line 299, ../sass/screen.scss */
.DoctorsName {
  font-family: "OpenSans-Bold", Arial, sans-serif;
  font-size: 1.5em;
  color: #000;
  margin: 5px 0 0px;
}

/* line 305, ../sass/screen.scss */
.DoctorsSpecialty {
  font-family: "OpenSans-Light", Arial, sans-serif;
  color: #000;
  font-size: 1.2em;
  margin: 5px 0 25px;
}

/* line 311, ../sass/screen.scss */
.DoctorsText {
  width: 50%;
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 1em;
  color: #000;
  line-height: 1.5em;
  margin: 5px 0 25px;
}

/* line 319, ../sass/screen.scss */
.DoctorsRadioBtn {
  margin: 100px 0 20px;
}

/* line 322, ../sass/screen.scss */
.DoctorsRadioBtn li {
  width: 22px;
  height: 22px;
  box-sizing: border-box;
  background: #69d2e7;
  border: 2px solid #fff;
  display: inline-block;
  border-radius: 50%;
  margin: 0px 10px;
}

/* line 332, ../sass/screen.scss */
.Information {
  width: 100%;
  height: 550px;
  background: #fa6900;
  overflow: hidden;
}

/* line 339, ../sass/screen.scss */
.InformationContainer {
  position: relative;
  top: 0%;
  left: 50%;
  width: 100%;
  height: 100%;
  max-width: 1700px;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  background: transparent;
  overflow: hidden;
}

/* line 350, ../sass/screen.scss */
.RoundBlock {
  width: 1560px;
  height: 1050px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  right: 0px;
  -webkit-transform: translate(56%, -50%);
  -moz-transform: translate(56%, -50%);
  -ms-transform: translate(56%, -50%);
  transform: translate(56%, -50%);
}

/* line 360, ../sass/screen.scss */
.InformationContent {
  background: transparent;
  width: 100%;
  height: 100%;
  padding-right: 700px;
  padding-left: 90px;
  padding-top: 100px;
  text-align: left;
}

/* line 369, ../sass/screen.scss */
.InformationContentTitle {
  font-size: 1.5em;
  font-family: "OpenSans-Bold", Arial, sans-serif;
  color: #fff;
  margin: 0 0 5px;
}

/* line 375, ../sass/screen.scss */
.InformationContentUnderTitle {
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 1.3em;
  color: #fff;
  margin: 0 0 50px;
}

/* line 381, ../sass/screen.scss */
.InformationContentText {
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 1em;
  color: #fff;
  line-height: 1.2em;
}
/* line 386, ../sass/screen.scss */
.InformationContentText br {
  line-height: 3em;
}
