/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@font-face {
    font-family: "OpenSans-Bold";
    src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
}
@font-face {
    font-family: "OpenSans-Light";
    src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
}
@font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}

$Orange: #fa6900;
$Blue: #69d2e7;

////////////////////////////////////////////////////////
.test{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	background: black; 
}
///////////////////////////////////////////////////////////////////////
@mixin translate($dX, $dY) {
  -webkit-transform: translate($dX, $dY);
     -moz-transform: translate($dX, $dY);
      -ms-transform: translate($dX, $dY);
          transform: translate($dX, $dY);
}
.transition{
	transition-property: all;
	transition-duration: .3s;
	transition-timing-function: ease;
}
#PageLayer{
	font-family: Arial, sans-serif;
	width: 100%;
	//height: 3158px;
	height: auto;
	background: red;
	position: relative;
	top: 0px;
	left: 0px;
	text-align: center;
}
.BlocksRelPosition{
	position: relative;
	top: 0px;
	left: 0px;
}
.WhiteBoldFont{
	font-family: "OpenSans-Bold", Arial, sans-serif;
	color: #fff;
}

.Header{
	background: $Blue;
	width: 100%;
	height: 465px;
}
.Footer{
	background: #f1f1f1;
	width: 100%;
	height: auto;	
	padding-top: 70px;
	padding-left: 85px;
}
.HeaderContentTitle{
	text-align: center;
	@extend .WhiteBoldFont;
	font-size: 4em;
	text-transform: uppercase;
	margin-top: 1.3em;
}
.HeaderContentText{
	@extend .WhiteBoldFont;
	font-size: 2em;
	text-transform: uppercase;
	text-align: center;
}
.About{
	width: 100%;
	height: auto;
	background: #f1f1f1;	
}
.AboutHeader{
	width: 70%;
	border-radius: 10px;
	background: #fff;
	text-align: center;
	max-width: 850px;
	height: auto;
	position: relative;
	top: -100px;
	left: 50%;
	@include translate(-50%, 0%);
	padding: 1.5em 2em;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.AboutHeaderTitle{
	@extend .WhiteBoldFont;
	color: #000;
	padding: 1% 15% 3%;
	display: inline-block;
	text-transform: uppercase;
	font-size: 2em;
	border-bottom: 2px solid #d5d5d5;
}
.AboutHeaderText{
	color: #000000;
	font-family: "OpenSans-Light", Arial, sans-serif;
	font-size: 1.4em;
	text-align: left;
	line-height: 1.4em;
	padding-top: 1em;
}
.AboutContentList{
	// display: flex;
	// flex-direction: row;
	// justify-content: space-around;
	// flex-wrap: wrap;
	max-width: 1700px;
	margin: 0 auto;
}
.BgForm{
	width: 162px;
	height: 162px;
	border-radius: 10px;
	background: $Blue;
	margin: 0 auto;
	padding: 2em;
}
.ConstWidthOfList{
	//width: 20%;
	margin-bottom: 2em;
	min-width: 200px;
}
.AboutContentListText{
	font-family: "OpenSans-Regular", Arial, sans-serif;
	font-size: 1.4em;
	color: #000000;
	margin-top: 1em;
}
.BgForm div{
	background-image: url("../images/sprite.png");
	width: 100%;
	height: 100%;
}
.AboutContentListCellsBg{
	background: #fff;
}
.AboutContentListCellsBg div{
	background-position: -90px 0px;
}
.AboutContentListTonometrBg div{
	background-position: -198px 0px;
}
.AboutContentListAtomBg{
	background: #fff;
}
.AboutContentListAtomBg div{
	background-position: -1px 0px;
}
.MediaInfo{
	height: auto;
	background: $Orange;
}
.SliderContainer{
	position: relative;
	top: 0px;
	height: 330px;
}
.CommonPropertiesOfSlide{
	width: 440px;
	height: 300px;
	background: #fff;
	border: 1px solid black;
	border-radius: 10px;
	position: absolute;
	top: 0px;
	left: 50%;
	@include translate(-50%, 0%);
}
.LeftBlock{
	left: 25%;
	opacity: .5;
}
.RightBlock{
	left: 75%;
	opacity: .5;
}
.LeftBlock, .RightBlock{
	@extend .transition;
} 
.CenterBlock{
	z-index: 2;
}
.LeftBlock:hover, .RightBlock:hover{
	left: 50%;
	opacity: 1;
}
.SliderHeadPart{
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 30px;
	background: #535a6c;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-align: left;
}
.SliderHeadPartPoints{
	width: auto;
	height: auto;
	display: inline-block;
	margin: 7px;
}
ul.SliderHeadPartPoints li{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #fff;
}
.SliderHeadPartSearch{
    display: block;
    width: 370px;
    float: right;
    margin-top: 7px;
    margin-right: 10px;
    height: 15px;
    background: #fff;
    border-radius: 5px;
    text-align: right;
}
.SliderHeadPartSearchIcon{
	font-size: 12px;
    margin-right: 5px;
    color: #535a6c;
}
.ToLeftButton, .ToRightButton{
	position: absolute;
	top: 50%;
	//@include translate(0%, -50%);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 2px solid #7f7f7f;
	background: transparent;
	color: #7f7f7f;
	font-size: 25px;
}
.ToLeftButton{
	left: 20px;
}
.ToRightButton{
	right: 20px;
}
.MediaInfoHeaderText{
    font-family: "OpenSans-Light", Arial, sans-serif;
    font-size: 1.4em;
    color: #fff;
    width: 55%;
    line-height: 1.6em;
    margin: 1.5em auto 35px;
}
.Doctors{
	width: 100%;
	height: auto;
	background: #f1f1f1;
}
.DoctorsContainer{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: space-around;
	align-items: center;
	max-width: 1700px;
	position: relative;
	top: 0px;
	left: 50%;
	@include translate(-50%, 0%);
}
.DoctorsAvatar{
	width: 180px;	
	height: 180px;
	border-radius: 50%;
	background: #fff;
	margin: 40px 0 25px;
}
.DoctorsName{
	font-family: "OpenSans-Bold", Arial, sans-serif;
	font-size: 1.5em;
	color: #000;
	margin: 5px 0 0px;
}
.DoctorsSpecialty{
	font-family: "OpenSans-Light", Arial, sans-serif;
	color: #000;
	font-size: 1.2em;
	margin: 5px 0 25px;
}	
.DoctorsText{
	width: 50%;
	font-family: "OpenSans-Light", Arial, sans-serif;
	font-size: 1em;
	color: #000;
	line-height: 1.5em;
	margin: 5px 0 25px;
}
.DoctorsRadioBtn{
    margin: 100px 0 20px;
}	    
.DoctorsRadioBtn li{
	width: 22px;
	height: 22px;
	box-sizing: border-box;
	background: $Blue;
	border: 2px solid #fff;
	display: inline-block;
	border-radius: 50%;
	margin: 0px 10px;
}
.Information{
	width: 100%;
	height: 550px;
	background: $Orange;
	overflow: hidden;
	//max-width: 1500px;
}
.InformationContainer{
	position: relative;
	top: 0%;
	left: 50%;
	width: 100%;
	height: 100%;
	max-width: 1700px;
	@include translate(-50%, 0%);
	background: transparent;
	overflow: hidden;
}
.RoundBlock{
	width: 1560px;
	height: 1050px;
	border-radius: 50%;
	background: #fff;
	//position: absolute;
	//top: 50%;
	//right: 0px;
	@include translate(53%, -76%);
	// -webkit-shape-outside: circle(50%);
 //    shape-outside: circle(50%);
 //    clip-path: circle(50%);
}
.InformationContent{
	background: transparent;
	width: 100%;
	height: 100%;
	padding-right: 39%;
	padding-left: 90px;
	padding-top: 100px;
	text-align: left;
}
.InformationContentTitle{
	font-size: 1.5em;
	font-family: "OpenSans-Bold", Arial, sans-serif;
	color: #fff;
	margin: 0 0 5px;
}
.InformationContentUnderTitle{
	font-family: "OpenSans-Light", Arial, sans-serif;
	font-size: 1.3em;
	color: #fff;
	margin: 0 0 50px;
}
.InformationContentText{
	font-family: "OpenSans-Light", Arial, sans-serif;
	font-size: 1em;
	color: #fff;
	line-height: 1.2em;
	br{
		line-height: 3em;
	}
}
.FooterContent{
	display: flex;
	flex-direction: column;
	align-content: space-around;
	flex-wrap: wrap;
	justify-content: space-around;
	height: 420px;
}
.FooterCompanyInfo{
	height: 50px;
	text-align: left;
	color: #000;
}
.FooterCompanyInfo div{
	width: 50px;
	height: 50px;
	background: $Orange;
	//display: inline-block;
	float: left;
	margin-right: 10px;
}
.FooterCompanyInfo h3{
	text-transform: uppercase;
	font-family: "OpenSans-Bold", Arial, sans-serif;
	font-size: 1em;
	padding-top: 5px;
}
.FooterCompanyInfo span{
	font-family: "OpenSans-Regular", Arial, sans-serif;
	font-size: 0.9em;
}
.FooterSocial{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	//border: 1px solid black;
	//border-radius: 5px; 
}
.FooterSocial li{
	display: inline-block;
	width: 38px;
	height: 38px;
	box-sizing: border-box;
	background: $Blue;
	border: 1px solid black;
	border-left: 0px;
	background: transparent;
}
.FooterSocial li:nth-child(1){
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-left: 1px solid black;
}
.FooterSocial li:nth-child(4){
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.FooterText{
	font-family: "OpenSans-Light", Arial, sans-serif;
	font-size: 1.1em;
	text-align: left;
	width: 80%;
	line-height: 1.5em;
	br{
		line-height: 2.5em;
	}
}

.FooterPosts{
	display: flex;
	flex-direction: column;
	align-content: space-around;
	flex-wrap: wrap;
	justify-content: space-around;
	height: 420px;	
	text-align: left;
}
.FooterPosts>div{
	//width: 90%;
}
.FooterPostContainerPreview{
	width: 95px;
	height: 95px;
	background: #fff;
	box-sizing: border-box;
	float: left;
	margin-right: 2em;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.FooterPostsTitle{
	font-family: "OpenSans-Bold", Arial, sans-serif;
	font-size: 1.5em;
	color: #000;
}
.FooterPostContainer{
	strong{
		font-family: "OpenSans-Bold", Arial, sans-serif;
		font-size: 0.9em;
	}
	p{
		font-family: "OpenSans-Regular", Arial, sans-serif;
		font-size: 0.9em;
		margin-top: 1em;
		line-height: 1.3em;
	}
}
.FooterBottomNav{
	position: absolute;
	bottom: -70px;
	left: 0px;
	background: $Blue;
	height: 70px;
	width: 100%;
}
.FooterBottomNav{
	display: flex;
	padding: 10px 100px;
	flex-direction: row;
	flex-wrap: no-wrap;
	justify-content: space-between;
	align-items: center;
	span{
		font-family: "OpenSans-Regular", Arial, sans-serif;
		font-size: 0.8em;
		color: #fff;
	}
}
@media screen and(max-width: 450px){
	.FooterPostContainerPreview{
		float: none;
	}
	// .FooterCompanyInfo div{
	// 	float: none;
	// }
	.FooterPosts{
		display: block;
	}
	.FooterContent, .FooterPosts{
		height: auto;	
	}
}